[package]
name = "majsoul_max_rs"
version = "0.5.0"
edition = "2021"
rust-version = "1.80"

[lib]

[[bin]]
name = "majsoul_max_rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.87"
base64 = "0.22.1"
bytes = "1.7.1"
prost-reflect = { version = "0.14.2", features = ["serde"] }
reqwest = { version = "0.12.7", features = [
    "json",
    "rustls-tls",
], default-features = false }
serde_json = "1.0.127"
serde = { version = "1.0.209", features = ["derive"] }
tokio = { version = "1.40.0", features = ["rt-multi-thread"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "chrono"] }
tracing = "0.1.40"
clap = { version = "4.5.16", features = ["derive"] }
prost = "0.13.2"
hudsucker = "0.22.0"
const_format = "0.2.32"

[build-dependencies]
prost-build = "0.13.2"

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[[bench]]
name = "clone_static_vs_construct"
harness = false

